@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<div>
    This tool was developed by Edward Johns (UCL) and Matthew Johnson (Microsoft), on a collaboration with Gabriel Brostow (UCL) and Kirsty Kemp (ZSL).
</div>